django == 5.0.1
python.exe -m pip 
pyp install --upgrade pip
pip install pymongo
pip install pillow
pip install django-admin-interface
pip install flask


# Se creara la carpeta para analizar y las clasificaciones, lo mas seguro en la carpeta del usuario, si no lo sabeis, en la terminal se hace un print de donde esta la carpeta de analizar.