@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" );

*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  background-size: cover;
  background-position: center;

}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: transparent;
}

header > div {
    width: 50%;
}

.logo {
  color: #ffffff; /* Blanco */
  font-size: 24px; /* Tamaño del texto del logo */
  font-weight: bold; /* Negrita */
  text-decoration: none; /* Evita el subrayado */
  

}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;

}
.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background:#fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;


}
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);


}


.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #ffff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;

}


.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #ffffff;

}

.login-form {
    display: inline-block; /* Para que esté en línea con el enlace */
}


.home-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

  color: #fff;
}
.home-content.hidden {
  opacity: 0;
  pointer-events: none; /* Evita interacciones con elementos ocultos */
}

.image-container {
  display: flex;
  align-items: center;
}

.image-container img {
  width: 400px; /* Ajusta según sea necesario */
  height: auto; /* Autoajusta la altura en proporción al ancho */
  border-radius: 10px; /* Ajusta según sea necesario */
  margin-right: 100px;
  margin-left: 100px;
}

.image-containerr img {
  width: 100%;
  height: auto;
  filter: blur(5px); /* Ajusta el valor del desenfoque según sea necesario */
}

.text-container {
  display: flex;
  flex-direction: column;
}

.texto-superpuesto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Cambia el color del texto según sea necesario */
  font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
  font-weight: bold; /* Ajusta el peso de la fuente según sea necesario */
  text-align: center;
}

.titulop {
  color: #fff;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px; /* Ajusta según sea necesario */
}
.textop {
  color: hsl(0, 0%, 100%);
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 100px;
}



.project-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

  color: #ffffff;
}
.project-content.hidden {
  opacity: 0;
  pointer-events: none; /* Evita interacciones con elementos ocultos */
}

.image-container {
  display: flex;
  align-items: center;
}

.image-container img {
  width: 400px; /* Ajusta según sea necesario */
  height: auto; /* Autoajusta la altura en proporción al ancho */
  border-radius: 10px; /* Ajusta según sea necesario */
  margin-right: 100px;
  margin-left: 100px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.titulop {
  color: #fff;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px; /* Ajusta según sea necesario */
}
.textop {
  color: hsl(0, 0%, 100%);
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 100px;
}


.about-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  color: #fff;

}

/* ======================================================================== */
/* Estilos generales */
.about-contentcibt {
  width: 600px;
  margin-top: 70px;

  padding: 20px;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 21px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  color: #ffffff;
  
}

.about-contentcibt h2 {
  color: #ffffff;
  text-align: center; /* Centro el contenido */

}


/* Estilos para el formulario */
.contact-form {
  margin-top: 20px;
}
.form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  margin-top: 9px;
  font-weight: bold; /* Hace el texto más negrita */
}

.contact-form input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(59, 59, 60, 0.797); /* Cambia este valor al color deseado */
  box-sizing: border-box;
  display: inline-block;
  color: #ffffff; /* Por ejemplo, color de texto gris oscuro */
}
.contact-form input[type="text"]:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: -internal-light-dark(rgb(27, 98, 222), rgba(0, 73, 208, 0.4)) !important;
  color: fieldtext !important;
}

/* Estilos para Autofill y desactivación del fondo predeterminado del Autofill */
.contact-form input[type="text"]:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #39393A inset;
  /* Cambia el color del texto dentro del campo Autofill */
  -webkit-text-fill-color: #ffffff;
}

/* Para eliminar el fondo amarillo en algunos navegadores al autofill */
.contact-form input[type="text"]:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #39393A inset;
  -webkit-text-fill-color: #ffffff;
}

/* Para navegadores que no admiten el modificador :-webkit-autofill */
.contact-form input[type="text"]:focus {
  background-color: #39393A;
} 

.contact-form input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  background: rgba(59, 59, 60, 0.797); /* Cambia este valor al color deseado */
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  /* Agrega estilos específicos para el input de tipo email aquí */
  color: #ffffff; /* Por ejemplo, color de texto azul */
  text-decoration: none;
}

/* Estilos para Autofill y desactivación del fondo predeterminado del Autofill */
.contact-form input[type="email"]:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #39393A inset;
  /* Cambia el color del texto dentro del campo Autofill */
  -webkit-text-fill-color: #ffffff;
}

/* Para eliminar el fondo amarillo en algunos navegadores al autofill */
.contact-form input[type="email"]:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #39393A inset;
  -webkit-text-fill-color: #ffffff;
}

/* Para navegadores que no admiten el modificador :-webkit-autofill */
.contact-form input[type="email"]:focus {
  background-color: #39393A;
} 





.contact-form textarea {
  width: 100%;
  height: 80px;
  padding: 20px; /* Ajusta el valor de padding según sea necesario */
  margin-bottom: 12px;
  background: rgba(59, 59, 60, 0.797); /* Cambia este valor al color deseado */
  color: #ffffff; /* Por ejemplo, color de texto azul */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
}



.contact-form button {
  width: 100%;
  height: 45px;
  background:transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
}

.contact-form button:hover {
  background-color: #7c7c7c;
}

/* Estilos para la tabla */
.contact-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.contact-table th,
.contact-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.contact-table th {
  background-color: #4caf50;
  color: #fff;
}

.mensaje {
  margin-top: 20px;
  color: #ffffff;
}


select {

  width: 120px;
  height: 30px;
  background: rgba(59, 59, 60, 0.797);
  border: 2px solid rgba(255, 255, 255, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  outline: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  appearance:inherit;
  color: white;
}

/* Estilo para cambiar la apariencia del borde cuando el campo está enfocado */
select:focus {
  border-color: rgba(255, 255, 255, .5); /* Cambia el color del borde al enfocar el campo */
  box-shadow: 0 0 30px rgba(0, 0, 0, .5); /* Sombra al enfocar el campo */
}

/* Estilo para los bordes redondeados de las opciones dentro del campo de selección */
select option {
  border-radius: 4px;
}

/* Estilo para cambiar la apariencia del campo cuando se pasa sobre las opciones */
select option:hover {
  background-color: #2f2d2d; /* Cambia el color de fondo al pasar sobre las opciones */
}



/* ======================================================================== */




.wrapper {
  position: relative;
  width: 400px;
  height: 570px;
  margin-top: 50px;
  background:transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 21px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(1);
  transition: transform .5s ease, height .2s ease;
}




.wrapper .form-box {
  width: 100%;
  padding: 40px;

}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}


.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}



.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 47px;
  height: 47px;
  background: #ffffff;
  font-size: 2em;
  color: #1c1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #ffffff;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: -15px;
  left: 5px;
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
  pointer-events: none;

}


.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #ffffff;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparrent inset;
  transition: background-color 5000s ease-in-out 0s;
  font-weight: 600;
  width: 100%;
  height: 100%;
}

.input-box input:-webkit-autofill {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #ffffff;

  padding: 0 35px 0 5px;
}


.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #ffffff;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: #ffffff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input{
  accent-color: #ffffff;
  margin-right: 3px;
}

.remember-forgot a{
  color: #ffffff;
  text-decoration: none;

}

.remember-forgot a:hover{
  text-decoration: underline;
}


.btn {
  width: 100%;
  height: 45px;
  background:transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;

}

.login-register {
  font-size: .9em;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a{

  color: #afafaf;
  text-decoration: none;
  font-weight: 600;
}


.login-register p a:hover {
  text-decoration: underline;
}

.eye-icon {
  position: absolute;
  right: 40px;
  top:64%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 23px;
  color: #fff; /* Puedes ajustar el color según tus preferencias */
  transition: color 0.3s;
}

.eye-icon:hover{
  color: #000000; /* Cambia el color al pasar el ratón sobre el botón */
}

.remember-forgot label a.terms {
  color: #beddff; /* Cambia tu-color-preferido al color deseado */
  
}



/* ================================================== */

/* .registration-container {
  position: relative;
  width: 400px;
  height: 440px;
  background:transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 21px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease, height .2s ease;
  color: white;
}

.registration-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: white;

}

.btn-register {
  width: 100%;
  height: 45px;
  background:transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;

}

.btn-register:hover {
  background: transparent;
}

.login-link,
.home-link {
  text-align: center;
  margin-top: 10px;
}

.login-link a,
.home-link a {
  text-decoration: none;
  color: #333;
}

.login-link a:hover,
.home-link a:hover {
  text-decoration: underline;
} */


