

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" );

*{

  font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-size: cover; 
    background-position: center;
    height: 100vh;
    overflow: hidden; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
}

header h1 {
    margin: 0;
    line-height: 70px;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

section {
    padding: 20px;
    color: rgb(0, 0, 0);
}


