<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
</head>

<header id="header">
    <img src="{% static 'app/img/menuiconwhite.png' %}" alt="menu" class="menu" id="menu">
    <div class="contenedor_logo">
        <img src="{% static '/img/tecnomarketpngicono.png' %}" alt="logo" class="logo">
    </div>
    <div>
        <nav id="nav">
            <ul>
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li>
                    <a href="{% url 'galeria' %}">Galería</a>
                </li>
                <li>
                    <a href="{% url 'contacto' %}">Contácto</a>
                </li>



                {% if user.is_authenticated %}

                <li>
                    <a href="{% url 'logout' %}">Cerrar sesion</a>
                </li>
                <li>
                    <a href="#">@{{ user.username }}</a>
                </li>


                {% else %}

                <li>
                    <a href="{% url 'login' %}">iniciar sesion</a>
                </li>
                <li>
                    <a href="{% url 'registro' %}">Registrate</a>
                </li>

                {% endif %}

            </ul>
        </nav>
    </div>
</header>





<div id="contenido">
    

    {% block contenido %}
    
    {% endblock %}



</div>



</body>
</html>