{% extends 'app/base.html' %}

{% load static %}


{% block contenido %}


<div id="contenido">
    <div class="galeria">

        <a data-fancybox="gallery" href="{% static 'app/img/tienda/tienda1.jpg"' %}>
            <img src="{% static 'app/img/tienda/tienda1.jpg"' %}>
        </a>

        <a data-fancybox="gallery" href="{% static 'app/img/tienda/tienda2.jpeg' %}">
            <img src="{% static 'app/img/tienda/tienda2.jpeg' %}">
        </a>

        <a data-fancybox="gallery" href="{% static 'app/img/tienda/tienda3.jpg"' %}>
            <img src="{% static 'app/img/tienda/tienda3.jpg"' %}>
        </a>

        <a data-fancybox="gallery" href="{% static 'app/img/tienda/tienda4.jpg"' %}>
            <img src="{% static 'app/img/tienda/tienda4.jpg"' %}>
        </a>

        <a data-fancybox="gallery" href="{% static 'app/img/tienda/tienda5.jpg"' %}>
            <img src="{% static 'app/img/tienda/tienda5.jpg"' %}>
        </a>


    </div>
</div>
<div class="home-content">
    <div class="image-container">
        <img src="{% static 'app/image/flint.jpg'%}" alt="Descripción de la imagen">
    </div>
    <div class="text-container">
        <h1 class="titulop">Galeria</h1>
        <h2 class="textop">Galeria ipsum dolor melapela amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim hitler, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h2>
    </div>
</div>
<div class="home-content hidden">

</div>


{% endblock %}
