{% extends 'app/user.html' %}
{% load static %}
{% block contenido %}
<style>

      body {
        font-family: Arial, sans-serif; /* Establecer la fuente del cuerpo */
      }
      .recuadro {
        display: flex; /* Usar flexbox para el diseño flexible */
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan a una nueva línea si no caben */
        width: 96%; /* Ancho del contenedor */
        height: 67%; /* Altura automática para adaptarse al contenido */
        background-color: #313131; /* Color de fondo gris */
        border: 4px solid #00000000; /* Borde del recuadro */
        padding: 10px; /* Espacio interno del recuadro */
        position: relative; /* Para posicionar el contenido dentro del recuadro */
        margin: 20px; /* Margen entre recuadros */
        border-radius: 10px; /* Redondear los bordes del recuadro */
        overflow: scroll; /* Habilitar el scroll cuando sea necesario */
        scroll-behavior: smooth; /* Hacer que el scroll sea suave y fluido */
        overscroll-behavior: contain; /* Controlar el comportamiento de sobrescrolleo */
      }

      .comparidosh {
        color: #ffffff; /* Color de texto blanco */
        font-size: 15px; /* Tamaño de fuente grande */
        font-weight: bold; /* Texto en negrita */
        position: absolute; /* Posición absoluta */
        top: 0; /* Coloca el mensaje en la parte superior */
        right: 0; /* Coloca el mensaje en la parte derecha */
        margin-top: 10px; /* Ajusta el margen superior según sea necesario */
        margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
        background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con transparencia */
        padding: 5px 10px; /* Espaciado interno */
        border-radius: 5px; /* Bordes redondeados */
        display: none; /* Oculta el mensaje inicialmente */
      }


      .seleccion3 {
        color: #ec3717;
        text-decoration: none;
        margin: 0 10px;
        font-weight: bold; /* Aplica negrita */
      }
      .recuadro-interno {
        width: 21%; /* Ancho del recuadro interno */
        height:34%; /* Altura automática para adaptarse al contenido */
        background-color: #5f5f5f; /* Color de fondo gris claro */
        display: flex;
        align-items: flex-start; /* Alineación a la izquierda */
        text-align: left; /* Alineación del texto a la izquierda */
        padding: 10px; /* Espaciado interno */
        margin: 20px;
        border: 3px solid #6d6d6d;
        border-radius: 10px; /* Redondear los bordes del recuadro interno */
        display: flex;
        justify-content: space-between;
      }

      .achedos {
        color: #ffffff; /* Color de texto blanco */
        font-size: 30px; /* Tamaño de fuente grande */
        font-weight: bold; /* Texto en negrita */
        margin-left: 30px;
      }

      .texto-grande {
        color: #ffffff; /* Color de texto blanco */
        font-size: 100%; /* Tamaño de fuente grande */
        font-weight: bold; /* Texto en negrita */
      }

      .texto-pequeno {
        color: #161616; /* Color de texto blanco */
        font-size: 100; /* Tamaño de fuente pequeño */
        font-weight: bold; /* Texto en negrita */

      }
      .texto-nombre {
        color: #ec3717; /* Color de texto blanco */
        font-size: 100; /* Tamaño de fuente pequeño */
        font-weight: bold; /* Texto en negrita */

      }
      
      .verde {
        color: rgb(26, 179, 46); /* Cambiar el color del texto a azul */
      }
      .amarillo {
        color: rgb(219, 209, 59); /* Cambiar el color del texto a azul */
      }
      .rojo {
        color: rgb(175, 45, 45); /* Cambiar el color del texto a azul */
      }
      
      .descargar {
        margin-top:25px;
        margin-right: 20px;
        background-color: #3fa53b; /* Color de fondo */
        color: white; /* Color del texto */
        border: none; /* Quitar borde */
        font-size:20px ;

        cursor: pointer; /* Cambiar cursor al pasar por encima */
        transition: background-color 0.3s; /* Transición suave para el cambio de color */
        border-radius: 2px; /* Redondear los bordes del recuadro interno */
      }
      .eliminar {
        margin-top:25px;
        margin-right: 20px;

        font-size:23px ;
        background-color: #a32c2c; /* Color de fondo */
        color: white; /* Color del texto */
        border: none; /* Quitar borde */

        cursor: pointer; /* Cambiar cursor al pasar por encima */
        transition: background-color 0.3s; /* Transición suave para el cambio de color */

        border-radius: 2px; /* Redondear los bordes del recuadro interno */
      }
      .info {
        margin-top: 25px;
        margin-right: 20px;
        position: absolute;
        top: 27.3%;
        left: 17%;
        width: 30px; /* Ancho del botón ajustado */
        font-size: 20px;
        background-color: #353535;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 2px;
      }
      .compartir {
        margin-top:20px;
        margin-right: 20px;

        font-size:21px ;
        background-color: #2c3ea3; /* Color de fondo */
        color: white; /* Color del texto */
        border: none; /* Quitar borde */

        cursor: pointer; /* Cambiar cursor al pasar por encima */
        transition: background-color 0.3s; /* Transición suave para el cambio de color */

        border-radius: 2px; /* Redondear los bordes del recuadro interno */
      }
      .compartir:hover,
      .eliminar:hover,
      .descargar:hover {
        background-color: #444; /* Cambiar color de fondo al pasar el cursor */
      }


    </style>
<h2 class="achedos">Mis Archivos</h2>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <a class="comparidosh">{{ message }}</a>
  {% endfor %}
</ul>
{% endif %}
<div class="recuadro">

  {% for archivo in archivos_data %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <div class="recuadro-interno">
      <div class="1">
        <div class="texto-grande">Nombre del Archivo:</div>
        <div class="texto-nombre">{{ archivo.nombre_archivo }}</div>
    
        <div class="texto-grande">Anomalías Detectadas:</div>
        {% if archivo.anomalias == 0 %}
          <div class="texto-pequeno verde">{{ archivo.anomalias }}</div>
        {% elif archivo.anomalias >= 1 and archivo.anomalias <= 5 %}
          <div class="texto-pequeno amarillo">{{ archivo.anomalias }}</div>
        {% elif archivo.anomalias >= 6 and archivo.anomalias <= 1000 %}
          <div class="texto-pequeno rojo">{{ archivo.anomalias }}</div>
        {% endif %}
    
        <div class="texto-grande">Estado del Archivo:</div>
        <div class="texto-pequeno">{{ archivo.prevision }}</div>
        <div class="texto-grande">Hora Analizado</div>
        <div class="texto-pequeno">{{ archivo.hora_analizado }}</div>
      </div>

      <div class="2">
        
        <button class="compartir" onclick="togglePanel1(event)"><i class="fas fa-share"></i> </button>
        <div id="panelUsuarios" style="display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 10px; background-color: #5f5f5f; padding: 20px; border: 3px solid #6d6d6d;">
          <p style="color: white; text-align: center; font-size: 18px;">Enviar {{ archivo.nombre_archivo }} a:</p>
        
          <form id="compartirForm" action="{% url 'compartir_archivo' %}" method="post">
            {% csrf_token %}
          
            <ul style="list-style-type: none;">
              {% for usuario in usuarios %}
                {% if usuario != request.user %} <!-- Comparando con el usuario actual -->
                <li><label style="color: white;"><input type="checkbox" name="usuarios_compartir[]" value="{{ usuario.id }}"> {{ usuario.username }}</label></li>
                {% endif %}
              {% endfor %}
            </ul>
            <input type="hidden" name="id_fichero" value="{{ archivo.id }}">
            <button type="submit" style="background-color: #4caf54; /* Green */
              border: none;
              color: white;
              padding: 10px 26px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 14px;
              margin: 4px 2px;
              cursor: pointer;
              border-radius: 10px;">Enviar</button>
            <button type="button" style="background-color: #f44336; /* Red */
              border: none;
              color: white;
              padding: 10px 21px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 13px;
              position: absolute; /* Posición absoluta */
              margin: 4px 2px;
              cursor: pointer;
              border-radius: 10px;" onclick="cancelarCompartir()">Cancelar</button>
          </form>
        </div>

        <form action="{% url 'eliminar_fichero' ficheros.0.id %}" method="post">
          {% csrf_token %}
          <button type="submit" value="Eliminar" class="eliminar" onclick="return confirm('¿Estás seguro de que quieres eliminar este archivo?')"><i class="fas fa-trash-alt"></i></button>
        </form>
      
        <form action="{% url 'descargar_archivo' archivo.nombre_archivo %}" method="get">
          {% csrf_token %}
          <button class="descargar" onclick="return confirm('¿Estás seguro de que quieres descargar este archivo?')"><i class="fas fa-download"></i></button>
        </form>

        <button class="info" onclick="togglePanel2(event)"><i class="fa fa-info"></i></button>
        <div id="panelInfo" style="display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 10px; background-color: #5f5f5f; padding: 20px; border: 3px solid #6d6d6d;">
            <!-- Contenido del panel -->
            <p style="color: white;">Detalles adicionales del archivo:</p>
            
            <p style="color: rgb(0, 0, 0);">Hash Api VT: </p>
            <p style="color: white;">{{ archivo.id_API }}</p>
            <p style="color: rgb(0, 0, 0);">Hash APBI2:  </p>
            <p style="color: white;">{{ archivo.Our_Hash }}</p>
            <p style="color: rgb(0, 0, 0);">Fecha de creación: </p>
            <p style="color: white;"></p>
            <p style="color: rgb(0, 0, 0);">Tamaño: </p>
            <p style="color: white;"></p>
            <button type="button" style="background-color: #067c20; /* Red */
            border: none;
            color: white;
            padding: 10px 21px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px;" onclick="quitar_informacion()">Salir</button>
        </div>

      </div>
      
    </div>
    
  {% endfor %}


</div>

<script>
  function togglePanel1(event) {
    event.preventDefault(); // Evita que el formulario se envíe automáticamente
    var panel = document.getElementById("panelUsuarios");
    if (panel.style.display === "none") {
      panel.style.display = "block";
    } else {
      panel.style.display = "none";
    }
  }

  function cancelarCompartir() {
    var panel = document.getElementById("panelUsuarios");
    panel.style.display = "none";
  }

  function quitar_informacion() {
    var panel = document.getElementById("panelInfo");
    panel.style.display = "none";
  }

  function togglePanel2(event) {
  event.preventDefault();
  var panel = document.getElementById("panelInfo");
  if (panel.style.display === "none") {
      panel.style.display = "block";
  } else {
      panel.style.display = "none";
  }
  }


  function obtenerNombreUsuario() {
    var usuarioSeleccionado = document.querySelector('input[name=usuario_compartir]:checked');
    if (usuarioSeleccionado) {
      var nombreUsuario = usuarioSeleccionado.nextElementSibling.textContent.trim();
      return nombreUsuario;
    } else {
      return 'EL USUARIO SELECCIONADO';
    }
  }
 
  // Función para mostrar el mensaje y ocultarlo después de 15 segundos
  window.onload = function() {
    var mensaje = document.querySelector('.comparidosh');
    mensaje.style.display = 'block'; // Muestra el mensaje

    setTimeout(function() {
      mensaje.style.display = 'none'; // Oculta el mensaje después de 15 segundos
    }, 10000); // 15000 milisegundos = 15 segundos
  };

</script>
{% endblock %}

