
{% extends 'app/user.html' %}
{% load static %}

{% block contenido %}

    <style>
        .rectangulo_body,html{
            height: 100%;
            margin: 0;
            padding: 0;

        }
        .rectangulo {
            width: 30%;
            height: 80%;
            background-color: #5c5c5c;
            margin: 25px;
            border-radius: 10px;
            display: inline-block;

        }

    </style>

    <body class="rectangulo_body">

            <div class="rectangulo"></div>
            <div class="rectangulo"></div>
            <div class="rectangulo"></div>

    </body>
    
{% endblock %}