

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APBI2</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    <!-- Agrega la siguiente línea para el ícono -->
    <link rel="icon" href="{% static 'app/img/icono.png' %}" type="image/png">
</head>


<body background="{% static '/app/img/fondo5.png' %}";>
    
    <header>
        
        <a class="logo" href="{% url 'home' %}" >APBI2</a>
        
        <nav class="navigation">
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'galeria' %}">Galeria</a>
            <a href="{% url 'contacto' %}">Contacta</a>
            {% if user.is_authenticated %}
                
                <a href="{% url 'usuario' %}">Panel de Usuario</a>
                <a href="{% url 'cierre' %}">Cerrar sesión</a>
            {% else %}
                <a href="{% url 'registro' %}">Registrate</a>
                <form method="get" action="{% url 'login' %}" class="login-form">
                    <button type="submit" class="btnLogin-popup">Login</button>
                </form>
            {% endif %}
        </nav>
    </header>

    <div id="contenido">
        

            {% block contenido %}
            
            {% endblock %}


    </div>

    <script src="{% static 'app/js/script.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>