{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}

<style>
    .navigation .thirst-nav-link {
        position: relative;
        font-size: 1.1em;
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
        margin-left: 40px;
        font-weight: bold; /* Aplica negrita */
    
    }
    
    
</style>

    <div class="about-contentcibt">
        <h2>Envia un Mensaje!</h2>
        <form class="contact-form" action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn-enviar">Enviar</button>
        </form>
        <p class="mensaje">{{ mensaje }}</p>
    </div>


{% endblock %}


