{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}


<div class="home-content">
    <div class="image-container">
        <img src="{% static 'app/img/logo2.png' %}" alt="Descripción de la imagen">
    </div>
    <div class="text-container">
        <h1 class="titulop">Proyecto ASIX 2023-2024</h1>
        <h2 class="textop">Proyecto de curso formado por Max Thomas, Pau Cañadillas y Albert Xicola. Servidor Web con sesión de usuario, registro y login. Analizador de archivos con Virus total, para que te de un resultado, y ver si esta infectado o no. </h2>
    </div>
</div>

{% endblock %}