<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>USER</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'app/css/user_estilos.css' %}">
        <!-- Agrega la siguiente línea para el ícono -->
        <link rel="icon" href="{% static 'app/img/icono.png' %}" type="image/png">
    </head>

    {% if user.is_authenticated %}
    <body background="{% static '/app/img/fondo5.png' %}">
        
        <header>
            <h1>Panel de Usuario</h1>
        </header>

        <nav>
            <a href="{% url 'home' %}">Menú Principal</a>
            <!-- <a href="{% url 'perfil' %}">Perfil</a> -->
            <!-- <a href="#">Configuración</a> -->
            <a href="{% url 'pycore' %}">Analisis</a>
            <a href="{% url 'archivos' %}">Archivos</a>
            {% if user.is_staff %}
            <a href="{% url 'admin:index' %}">Panel admin</a>
            {% endif %}
            <a href="{% url 'usuario' %}">Usuario</a>
            <a href="{% url 'cierre' %}">Cerrar Sesión</a>


        </nav>

        {% block contenido %}

    

        {% endblock %}


        {% else %}
        <section id="inicio">
            <h2>no no no amigo mio, donde vas?</h2>
            <p>Contenido de la página de inicio, cuando inicies sesion, lechuguero</p>
        </section>
        {% endif %}

    </body>
    </html>
 
