<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados del análisis de archivos</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <h2>Resultados del análisis de archivos:</h2>
    <ul>
        {% for resultado in resultados %}

            <li>{{ resultado.data.id_API }}</li>
            <li>{{ resultado.data.Nombre_Archivo }}</li>
            <li>{{ resultado.data.Our_Hash }}</li>
            <li>{{ resultado.data.Maldades }}</li>
            <li>{{ resultado.data.Prevision }}</li>

        {% endfor %}
    </ul>
</body>
</html>
