<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USUARIO</title>
</head>
<body>
    <h2>usuario page</h2>
    <div class="project-content hidden">
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'logout' %}">cerrar sesion</a>
        </li>

        {% else %}
        <li>
            <a href="{% url 'login' %}">inicio sesion</a>
        </li>
        <li>
            <h2>maricon page</h2>
        </li>
        {% endif %}
    </div>
</body>
</html>
