{% extends 'app/user.html' %}
{% load static %}

{% block contenido %}

<style>
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Capa semi-transparente */
        z-index: 9999; /* Asegura que esté encima de todo */
        display: none; /* Por defecto oculto */
    }
    .loader {
    position: absolute;
    top: 44.2%;
    left: 45.8%;
    transform: translate(-50%, -50%); /* Centramos vertical y horizontalmente */
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite; /* Aquí aplicamos la animación */
    }

    .loading-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%); /* Centramos horizontalmente y bajamos un poco */
    font-size: 12px;
    color: white;
    }

     @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }



    .pycore-container {
        /* Estilos para el contenedor de pycore */
        height: 640px;
        width: 1200px;
        background-color: #272727;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
        margin-left: auto;
        margin-right: auto;
    }

    .pycore-container .icon-close {
        width: 1200px;
        height: 40px;
        background: #222121;
        font-size: 2em;
        color: #1c1b1b;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        cursor: pointer;
        z-index: 1;
    }
    
    .pycore-title {
        /* Estilos para el título de pycore */
        color: #c7c7c7;
    }
    
    input[type="file"] {
        display: none;
    }
    
    .custom-file-upload {
        /* Estilos para el botón de carga personalizado */
        background-color: #898989;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .custom-file-upload:hover {
        background-color: #343434;
    }
    
    #file-upload-label {
        /* Estilos para el texto que indica el archivo seleccionado */
        color: #c7c7c7;
        margin-top: 10px;
    }
    
    input[type="submit"] {
        /* Estilos para el botón de envío */
        background-color: #898989;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #343434;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }

    #subir-archivo {
        align-self: flex-end; /* Mueve el botón a la derecha */
        margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
        margin-right: 20px; /* Ajusta el margen derecho según tus necesidades */
    }
    .buenas {
        color: #d4d4d4;
        font-size: 15px;
        margin-left: 815px;
        margin-top: 30px;

    }
    .holas{
        padding-left: 20px;
    }
</style>


<div class="upload-container pycore-container">
    <span class="icon-close">
        <ion-icon name="close-outline"></ion-icon>
    </span>

    <form action="{% url 'analisis' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file-upload" class="custom-file-upload">Seleccionar Archivos</label>
        <span class="holas" id="file-upload-label"></span>
        <input type="file" id="file-upload" name="files[]" accept=".txt, .pdf, .doc, .docx" multiple>
        <input id="subir-archivo" type="submit" value="Analizar Archivos">
    </form>
    {% if message_select %}
        <h1 class="buenas">{{ message_select }}</h1>
    {% endif %}
</div>

<div id="overlay">
    <div class="loader"></div>
    <div class="loading-message">Analizando...</div>
</div>

<script>
    document.getElementById('file-upload').addEventListener('change', function() {
        const fileCount = this.files.length;
        const label = fileCount === 1 ? this.files[0].name : `${fileCount} archivos seleccionados`;
        document.getElementById('file-upload-label').innerText = label;
    });
    document.querySelector('form').addEventListener('submit', function() {
    document.getElementById('overlay').style.display = 'block';
    });

</script>

{% endblock %}
