{% extends 'app/user.html' %}
{% load static %}

{% block contenido %}

<style>
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Capa semi-transparente */
        z-index: 9999; /* Asegura que esté encima de todo */
        display: none; /* Por defecto oculto */
    }

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%; /* Ancho de la barra de carga */
        height: 15px; /* Altura de la barra de carga */
        background-color: #f3f3f3; /* Color de fondo de la barra de carga */
        border-radius: 4px; /* Borde redondeado */
        overflow: hidden; /* Oculta el contenido que se desborda */
    }
    .loading-message{
        position: absolute;
        top: 45%;
        left: 30%;
        color: #d4d4d4;
        font-size: 17px;
        font-weight: bold; /* Aplica negrita */


    }
    .loader::after {
        content: '';
        display: block;
        width: 0%;
        height: 100%;
        background-color: #ec3717; /* Color de la barra de carga */
        animation: progress 3s linear infinite; /* Animación de la barra de carga */
    }

    @keyframes progress {
        0% {
            width: 0%; /* Ancho inicial */
        }
        100% {
            width: 100%; /* Ancho completo */
        }
    }


    .pycore-container {
        /* Estilos para el contenedor de pycore */
        height: 640px;
        width: 1200px;
        background-color: #272727;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
        margin-left: auto;
        margin-right: auto;
    }
    .seleccion2 {
        color: #ec3717;
        text-decoration: none;
        margin: 0 10px;
        font-weight: bold; /* Aplica negrita */
      }
    .pycore-container .icon-close {
        width: 1200px;
        height: 40px;
        background: #222121;
        font-size: 2em;
        color: #1c1b1b;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        cursor: pointer;
        z-index: 1;
    }
    .pycore-container-2 {
        margin-left: 120px;
        margin-top: 90px;
        height: 290px;
        width: 940px;
        background: #202020;
        border: 4px solid #464646; /* Borde del recuadro */
        font-size: 2em;
        color: #b4b4b4;
        display: flex;
        flex-direction: column; /* Cambiar a disposición en columna */

        align-items:start;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        cursor: pointer;
        z-index: 1;
    }

    .pycore-title {
        /* Estilos para el título de pycore */
        color: #c7c7c7;
    }
    
    input[type="file"] {
        display: none;
    }
    
    .custom-file-upload {
        /* Estilos para el botón de carga personalizado */
        background-color: #898989;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 0px;
        cursor: pointer;
    }
    
    .custom-file-upload:hover {
        background-color: #343434;
    }
    
    #file-upload-label {
        /* Estilos para el texto que indica el archivo seleccionado */
        color: #c7c7c7;
        margin-top: 10px;
    }
    
    input[type="submit"] {
        /* Estilos para el botón de envío */
        background-color: #898989;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #343434;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }

    #subir-archivo {
        align-self: flex-end; /* Mueve el botón a la derecha */
        margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
        margin-right: 20px; /* Ajusta el margen derecho según tus necesidades */
    }
    .buenas {
        color: #ffffff;
        font-size: 15px;
        margin-left: 815px;
        margin-top: 30px;
    

    }
    .holas{
        padding-left: 20px;
        color: #ec3717;
        font-size: 10px;
        font-weight: bold; /* Aplica negrita */

    }

    .achedos {
        color: #ffffff; /* Color de texto blanco */
        font-size: 20px; /* Tamaño de fuente grande */
        font-weight: bold; /* Texto en negrita */
        margin-left: 30px;
        margin-bottom: 50px;
      }
    .lica{
        color: #ffffff; /* Color de texto blanco */
        font-size: 15px; /* Tamaño de fuente grande */
        font-weight: bold; /* Texto en negrita */
        margin-left: 40px;
        margin-bottom: 5px;
    }
    #file-upload-label {
    /* Estilos para el texto que indica el archivo seleccionado */
        color: #ec3717;
        font-size: 20px;
        margin-top: 60px;
        position: absolute; /* Establecer la posición absoluta */
    }
</style>



<div class="upload-container pycore-container">
    <span class="icon-close">
        <ion-icon name="close-outline"></ion-icon>
    </span>

    <form action="{% url 'analisis' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file-upload" class="custom-file-upload">Seleccionar Archivos</label>
        <span class="holas" id="file-upload-label"></span>
        <input type="file" id="file-upload" name="files[]" accept=".txt, .pdf, .doc, .docx" multiple>
        <input id="subir-archivo" type="submit" value="Analizar Archivos">
    </form>
    {% if message_select %}
        <h1 class="buenas">{{ message_select }}</h1>
    {% endif %}
    <div class="pycore-container-2">
        <h2 class="achedos">Analiza Archivos!</h2>
        <li class="lica" >Esto es APBI2 tu analizador de confianza.</li>

        <li class="lica" >Puede tardar como mucho 1 minuto en analizar hasta 4 archivos a la vez.</li>
        <li class="lica" >Si tienes suerte ya estrará en nuestra Base de datos y será instantaneao.</li>
        <li class="lica" >Recuerda que solo se pueden suvir archivos, carpetas no comprimidas y similares.</li>
    </div>
</div>

<div id="overlay">
    <div class="loading-message">Analizando...</div>
    <div class="loader"></div>
    
</div>

<script>
    document.getElementById('file-upload').addEventListener('change', function() {
        const fileCount = this.files.length;
        const label = fileCount === 1 ? this.files[0].name : `${fileCount} archivos seleccionados`;
        document.getElementById('file-upload-label').innerText = label;
    });
    document.querySelector('form').addEventListener('submit', function() {
    document.getElementById('overlay').style.display = 'block';
    });

</script>

{% endblock %}
