{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<style>
    .navigation .cuatro-nav-link {
        position: relative;
        font-size: 1.1em;
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
        margin-left: 40px;
        font-weight: bold; /* Aplica negrita */
    
    }
    
    
</style>
<div class="wrapper">
  <span class="icon-close">
      <ion-icon name="close-outline"></ion-icon>
  </span>
  <div class="form-box login">
      <h2>Registro</h2>
      <form action="#" method="post" autocomplete="off" onsubmit="return validatePasswords()">
          {% csrf_token %}

          <div class="input-box">
              <span class="icon">
                  <ion-icon name="person"></ion-icon>
              </span>
              {{ form.username }}
              <label>Usuario</label>
              {% if form.username.errors %}
                <span class="error">{{ form.username.errors }}</span>
              {% endif %}
          </div>

          <div class="input-box">
              <span class="icon">
                <ion-icon name="mail"></ion-icon>
              </span>
              {{ form.email }}
              <label>Correo electrónico</label>
              {% if form.email.errors %}
                <span class="error">{{ form.email.errors }}</span>
              {% endif %}
          </div>

          <div class="input-box">
            <span class="icon">
                <ion-icon name="lock-closed"></ion-icon>
            </span>
            <input type="password" name="password1" id="id_password1">
            <label>Contraseña</label>
            {% if form.password1.errors %}
                <span class="error">{{ form.password1.errors }}</span>
            {% endif %}
            <button type="button" id="1toggleLoginPassword" class="eye-icon">
                <ion-icon name="eye-outline"></ion-icon>
            </button>
        </div>

          <div class="input-box">
              <span class="icon">
                <ion-icon name="lock-closed"></ion-icon>
              </span>
              <input type="password" name="password2" id="id_password2">

              {{ form.password2 }}
              <label>Repite Contraseña</label>
              {% if form.password2.errors %}
                <span class="error">{{ form.password2.errors }}</span>
              {% endif %}
              <button type="button" id="2toggleLoginPassword" class="eye-icon">
                <ion-icon name="eye-outline"></ion-icon>
              </button>
          </div>

          <button type="submit" class="btn">Registrarse</button>

          <div class="login-register">
            <p>Acepta nuestros <a href="{% url 'terminos' %}" class="register-link">términos y condiciones</a></p>
            <p>¿Tienes cuenta?  <a href="{% url 'login' %}" class="register-link">Inicia sesión</a></p>
          </div>
      </form>
  </div>
</div>

<script>

  document.addEventListener("DOMContentLoaded", function () {
      var togglePassword = document.getElementById("1toggleLoginPassword");
      var passwordInput = document.getElementById("id_password1");

      togglePassword.addEventListener("mousedown", function () {
          passwordInput.type = "text";
      });

      togglePassword.addEventListener("mouseup", function () {
          passwordInput.type = "password";
      });
  });

  document.addEventListener("DOMContentLoaded", function () {
      var togglePassword = document.getElementById("2toggleLoginPassword");
      var passwordInput = document.getElementById("id_password2");

      togglePassword.addEventListener("mousedown", function () {
          passwordInput.type = "text";
      });

      togglePassword.addEventListener("mouseup", function () {
          passwordInput.type = "password";
      });
  });

  document.addEventListener("DOMContentLoaded", function () {
      var closeButton = document.querySelector(".icon-close");

      closeButton.addEventListener("click", function () {
          // Puedes redirigir a los usuarios a otra página
          window.location.href = "{% url 'home' %}";
          
          // O puedes realizar otra acción que desees
          // Por ejemplo, mostrar un mensaje, ocultar el formulario, etc.
      });
  });
  function validatePasswords() {
      var password1 = document.getElementById("id_password1").value;
      var password2 = document.getElementById("id_password2").value;

      // Verifica si las contraseñas coinciden
      if (password1 !== password2) {
          alert("Las contraseñas no coinciden. Por favor, inténtalo de nuevo.");
          return false; // Evita que el formulario se envíe
      }
      
      // Verifica si la contraseña tiene al menos 8 caracteres
      if (password1.length < 8) {
          alert("La contraseña debe tener al menos 8 caracteres.");
          return false; // Evita que el formulario se envíe
      }
      // Verifica si la contraseña cumple con los requisitos
      var regexSpecialChar = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
      var regexNumber = /[0-9]+/;
      var regexUpperCase = /[A-Z]+/;

      if (!regexSpecialChar.test(password1) || !regexNumber.test(password1) || !regexUpperCase.test(password1)) {
          alert("La contraseña debe contener al menos un carácter especial, un número y una mayúscula.");
          return false; // Evita que el formulario se envíe
      }

      return true; // Permite que el formulario se envíe si las contraseñas coinciden y cumplen con los requisitos
  }
</script>

{% endblock %}
